<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>SoftUni League</title>
    <link rel="icon" href="/img/L.jpg"/>

    <link rel="stylesheet" th:href="@{/css/loreStyle.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/loginStyle.css}" type="text/css"/>


</head>

<body>

<!-- BEGIN # MODAL LOGIN -->
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
     style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" align="center">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
            </div>

            <!-- Begin # DIV Form -->
            <div id="div-forms">

                <!-- Begin # Login Form -->
                <form class="login-form" th:action="@{/}" method="post">
                    <div class="modal-body">
                        <div id="div-login-msg">
                            <div id="icon-login-msg" class="glyphicon glyphicon-chevron-right"></div>
                            <span id="text-login-msg">Type your username and password.</span>
                        </div>
                        <input id="login_username" class="form-control" type="text"
                               placeholder="Username (type ERROR for error effect)"/>
                        <input id="login_password" class="form-control" type="password" placeholder="Password"/>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"/> Remember me
                            </label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div>
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
                        </div>
                        <div>
                            <button id="login_lost_btn" type="button" class="btn btn-link">Lost Password?</button>
                            <button id="login_register_btn" type="button" class="btn btn-link"></button>
                        </div>
                    </div>
                </form>
                <!-- End # Login Form -->

                <!-- Begin | Lost Password Form -->
                <form id="lost-form" style="display:none;">
                    <div class="modal-body">
                        <div id="div-lost-msg">
                            <div id="icon-lost-msg" class="glyphicon glyphicon-chevron-right"></div>
                            <span id="text-lost-msg">Type your e-mail.</span>
                        </div>
                        <input id="lost_email" class="form-control" type="text"
                               placeholder="E-Mail (type ERROR for error effect)"/>
                    </div>
                    <div class="modal-footer">
                        <div>
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Send</button>
                        </div>
                        <div>
                            <button id="lost_login_btn" type="button" class="btn btn-link">Log In</button>
                            <button id="lost_register_btn" type="button" class="btn btn-link"></button>
                        </div>
                    </div>
                </form>
                <!-- End | Lost Password Form -->


            </div>
            <!-- End # DIV Form -->

        </div>
    </div>
</div>
<!-- END # MODAL LOGIN -->


<nav class="navbar-right navbar-default navbar-fixed-top ">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="../homeIndex.html">
                <img src="/img/LeagueOfSoftuni.png" class="navbar-brand"
                     style="position: fixed; width:19%; height:auto;"/></a>

        </div>
        <ul class="nav navbar-nav">
            <li><a role="menuitem" tabindex="-1" th:href="@{/}">Home</a></li>
            <li><a role="menuitem" tabindex="-1" th:href="@{/gallery}">Gallery</a></li>
            <li class="active"><a role="menuitem" tabindex="-1" th:href="@{/lore}">Lore</a></li>
            <li><a role="menuitem" tabindex="-1" th:href="@{/contact}">Contact</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a role="menuitem" tabindex="-1" th:href="@{/upload}"><span class="glyphicon glyphicon-picture"></span>
                Upload</a></li>
            <li><a role="menuitem" tabindex="-1" th:href="@{/register}"><span
                    class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a role="menuitem" tabindex="-1" href="#" data-toggle="modal" data-target="#login-modal"><span
                    class="glyphicon glyphicon-user"></span> Login</a></li>
        </ul>
    </div>


    <!-- Page responsive dropdown -->
    <div class="imageBokluk">
        <a href="../homeIndex.html">
            <img src="/img/LeagueOfSoftuni.png" class="navbar-brand"
                 style="width:19%; height:auto;"/></a>
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown"><span
                    class="glyphicon glyphicon-th-list"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                <li role="presentation"><a th:href="@{/}">Home</a></li>
                <li role="presentation"><a th:href="@{/gallery}">Gallery</a></li>
                <li role="presentation" class="active"><a th:href="@{/lore}">Lore</a></li>
                <li role="presentation"><a th:href="@{/contact}">Contact</a></li>
                <li><a role="menuitem" tabindex="-1" th:href="@{/upload}"><span
                        class="glyphicon glyphicon-picture"></span> Upload</a></li>
                <li><a role="menuitem" tabindex="-1" th:href="@{/register}"><span
                        class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a role="menuitem" tabindex="-1" href="#" data-toggle="modal" data-target="#login-modal"><span
                        class="glyphicon glyphicon-user"></span> Login</a></li>

            </ul>

        </div>
    </div>

</nav>


<div class="fon">

    <div class="tekst">
        <h2 style="color: #94724d">Nakus <a style="font-size:55%"
                                            href="http://gameinfo.na.leagueoflegends.com/en/game-info/champions/nasus/"
                                            target="_blank">{i}</a>
        </h2>
        Nakus was the god of all gods. He conquered all professions in the ol' mighty sky. All the other gods'
        mouths were shut while he was talking. They obeyed him. His first program was written back in 1991.<br/><br/>

        <h2 style="color: #94724d">Angelistar <a style="font-size:55%"
                                                 href="http://gameinfo.na.leagueoflegends.com/en/game-info/champions/alistar/"
                                                 target="_blank">{i}</a>
        </h2>
        Angelistar was one of Nakus' finest apprentices. Proud and powerful, he defended all his mentor stood for. In
        this sense, no one who defied programming was left unpunished by the mighty Angelistar.<br/><br/>

        <h2 style="color: #94724d">KarthSimos <a style="font-size:55%"
                                                 href="http://gameinfo.na.leagueoflegends.com/en/game-info/champions/karthus/"
                                                 target="_blank">{i}</a>
        </h2>
        A prodigy since birth, Karthsimos was always considered peerles by his mates. He would always do the things
        others wouldn't even dare. Thus, his traits naturally led him to becoming a programming genius, as well as one
        of Nakus' chosen warriors at a very young age.<br/><br/>

        <h2 style="color: #94724d">Royammus <a style="font-size:55%"
                                               href="http://gameinfo.na.leagueoflegends.com/en/game-info/champions/rammus/"
                                               target="_blank">{i}</a>
        </h2>
        A cheesy and well-going being, Royammus's vast experience in programming quickly brought him to becoming one of
        Nakus' best know warriors. Flexible and adaptive, he is known for always been there where he's needed, helping
        those in need of programming knowledge.<br/><br/>

        <h2 style="color: #94724d">Geshplank <a style="font-size:55%"
                                                href="http://gameinfo.na.leagueoflegends.com/en/game-info/champions/gangplank/"
                                                target="_blank">{i}</a>
        </h2>
        Though Geshplank was "new" to the nature of programming, only those who didn't know him well would dare call him
        "new". Having spent countless hours grinding his favourite activity, Geshplank was able to prove himself in
        front of Nakus faster than any other, which led to him becoming one of the best.<br/><br/>

        <h2 style="color: #94724d">cEkko <a style="font-size:55%"
                                            href="http://gameinfo.na.leagueoflegends.com/en/game-info/champions/ekko/"
                                            target="_blank">{i}</a>
        </h2>
        cEkko's keystone lay in finding out how to repair (almost) everything that had gone wrong. Having already
        brought appendages of his own body back from the dead, he was the perfect candidate for discovering bugs and
        other insects which would cause even the mighties program to fail miserably.<br/><br/>

        <h2 style="color: #94724d">Tryndaminko <a style="font-size:55%"
                                                  href="http://gameinfo.na.leagueoflegends.com/en/game-info/champions/tryndamere/"
                                                  target="_blank">{i}</a>
        </h2>
        Tryndaminko was cEkko's barbarish upstart and companion. Apart from destroying everything he came upon with his
        blade *cough* mouse *cough*, he also loved destroying huge amounts of drink and food.<br/><br/>
    </div>
</div>

</body>
</html>