<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>SoftUni League</title>
    <link rel="icon" href="../../images/L.jpg">

    <link rel="stylesheet" href="../home/homeStyle.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../home/bootstrap.js"></script>


</head>

<body>

<nav class="navbar-right navbar-default navbar-fixed-top ">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="adminLogged.html">
                <img src="../../images/LeagueOfSoftuni.png" class="navbar-brand"
                     style="position: fixed; width:19%; height:auto;"></a>

        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a role="menuitem" tabindex="-1" href="#">Home</a></li>
            <li><a role="menuitem" tabindex="-1" href="../gallery/galleryIndex.html">Gallery</a></li>
            <li><a role="menuitem" tabindex="-1" href="#">Lore</a></li>
            <li><a role="menuitem" tabindex="-1" href="#">Contact</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a role="menuitem" tabindex="-1" href="../upload/uploadIndex.html"><span class="glyphicon glyphicon-picture"></span> Upload</a></li>
            <li><a class="dropdown dropdown-toggle" tabindex="-1" href="#" data-toggle="dropdown">Admin<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li style="color: #ffffff; background-color: transparent; box-shadow: 0px -1px 0px #4e4e4e inset;"><a href="#">Users</a></li>
                    <li style="color: #ffffff; background-color: transparent; box-shadow: 0px -1px 0px #4e4e4e inset;"><a href="#">Posts</a></li>
                </ul>
            </li>
            <li><a role="menuitem" tabindex="-1" href="#"><span
                    class="glyphicon glyphicon-user"></span> AdminName</a></li>
            <li><a role="menuitem" tabindex="-1" href="../homeIndex.html"><span
                    class="glyphicon glyphicon-log-in"></span> Logout</a></li>

        </ul>
    </div>


    <!-- Page responsive dropdown -->
    <div class="imageBokluk">
        <a href="adminLogged.html">
            <img src="../../images/LeagueOfSoftuni.png" class="navbar-brand"
                 style="width:19%; height:auto;"></a>
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown"><span
                    class="glyphicon glyphicon-th-list"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                <li role="presentation" class="active"><a href="#">Home</a></li>
                <li role="presentation"><a href="../gallery/galleryIndex.html">Gallery</a></li>
                <li role="presentation"><a href="../lore/loreIndex.html">Lore</a></li>
                <li role="presentation"><a href="../contact/contactIndex.html">Contact</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="../upload/uploadIndex.html"><span class="glyphicon glyphicon-picture"></span> Upload</a></li>
                <li role="presentation"><a class="dropdown dropdown-toggle" tabindex="-1" href="#" data-toggle="dropdown"><span class="caret"></span> Admin</a>
                    <ul  role="presentation" class="dropdown-menu">
                        <li role="presentation" style="color: #ffffff; background-color: transparent; box-shadow: 0px -1px 0px #4e4e4e inset;"><a href="#">Users</a></li>
                        <li role="presentation" style="color: #ffffff; background-color: transparent; box-shadow: 0px -1px 0px #4e4e4e inset;"><a href="#">Posts</a></li>
                    </ul>
                </li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span
                        class="glyphicon glyphicon-user"></span> UserName</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="../homeIndex.html"><span
                        class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>

        </div>
    </div>
    <!--------------------------------------------------->

</nav>

<!----------------------------------------------------------------------->
<article>
    <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4500" id="bs-carousel">

        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#bs-carousel" data-slide-to="1"></li>
            <li data-target="#bs-carousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item slides active">
                <!-- Overlay -->
                <div class="overlay"></div>
                <div class="slide-1"></div>
                <div class="hero">
                    <hgroup>
                        <h1>League</h1>
                        <h3>of Software University</h3>
                    </hgroup>
                    <a href="../gallery/galleryIndex.html">
                        <button class="btn btn-hero btn-lg" role="button">Go to Gallery</button>
                    </a>
                </div>
            </div>
            <div class="item slides">
                <div class="slide-2"></div>
                <div class="hero">
                    <hgroup>
                        <h1>Lore</h1>
                        <h3>Explore our Lore</h3>
                    </hgroup>
                    <button class="btn btn-hero btn-lg" role="button">Go to Lore</button>
                </div>
            </div>
            <div class="item slides">
                <div class="slide-3"></div>
                <div class="hero">
                    <hgroup>
                        <h1>Upload</h1>
                        <h3>Post your picture</h3>
                    </hgroup>
                    <button class="btn btn-hero btn-lg" role="button">Upload</button>
                </div>
            </div>
        </div>
    </div>
</article>


</body>
</html>

