<header th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <!--<a th:href="@{/}" class="navbar-brand">League of SoftUni</a>-->

                <a th:href="@{/}" class="navbar-brand" href="../homeIndex.html" ></a>
                    <!--<img th:src="../../images/LeagueOfSoftuni.png"-->
                         <!--style="position: fixed; width:19%; height:auto;"></a>-->

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav">
                    <li class="active"><a role="menuitem" tabindex="-1" href="../homeIndex.html">Home</a></li>
                    <li><a role="menuitem" tabindex="-1" href="../gallery/gallery.html">Gallery</a></li>
                    <li><a role="menuitem" tabindex="-1" href="../lore/loreIndex.html">Lore</a></li>
                    <li><a role="menuitem" tabindex="-1" href="../contact/contactIndex.html">Contact</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li sec:authorize="isAuthenticated()">
                        <a th:href="@{/article/create}">
                            Upload
                        </a>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <a th:href="@{/profile}">
                            My Profile
                        </a>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <a th:href="@{/logout}">
                            Logout
                        </a>
                    </li>

                    <li sec:authorize="isAnonymous()">
                        <a th:href="@{/register}">
                            REGISTER
                        </a>
                    </li>
                    <li sec:authorize="isAnonymous()">
                        <a th:href="@{/login}">
                            LOGIN
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

<!--<div th:fragment="header" class="navbar-right navbar-default navbar-fixed-top">-->
    <!--<div class="container-fluid">-->
        <!--<div class="navbar-header">-->
            <!--<a th:href="@{/}" href="../homeIndex.html">-->
                <!--<img src="../../images/LeagueOfSoftuni.png" class="navbar-brand"-->
                     <!--style="position: fixed; width:19%; height:auto;"></a>-->

        <!--</div>-->
        <!--<ul class="nav navbar-nav">-->
            <!--<li class="active"><a role="menuitem" tabindex="-1" href="../homeIndex.html">Home</a></li>-->
            <!--<li><a role="menuitem" tabindex="-1" href="../gallery/galleryIndex.html">Gallery</a></li>-->
            <!--<li><a role="menuitem" tabindex="-1" href="../lore/loreIndex.html">Lore</a></li>-->
            <!--<li><a role="menuitem" tabindex="-1" href="../contact/contactIndex.html">Contact</a></li>-->
        <!--</ul>-->
        <!--<ul class="nav navbar-nav navbar-right">-->
            <!--<li sec:authorize="isAuthenticated()">-->
                <!--<a th:href="@{/profile}">-->
                    <!--My Profile-->
                <!--</a>-->
            <!--</li>-->
            <!--<li sec:authorize="isAuthenticated()">-->
                <!--<a th:href="@{/logout}">-->
                    <!--Logout-->
                <!--</a>-->
            <!--</li>-->

            <!--<li sec:authorize="isAnonymous()">-->
                <!--<a th:href="@{/register}">-->
                    <!--REGISTER-->
                <!--</a>-->
            <!--</li>-->
            <!--<li sec:authorize="isAnonymous()">-->
                <!--<a th:href="@{/login}">-->
                    <!--LOGIN-->
                <!--</a>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->


    <!--&lt;!&ndash; Page responsive dropdown &ndash;&gt;-->
    <!--<div class="imageBokluk">-->
        <!--<a href="homeIndex.html">-->
            <!--<img src="../images/LeagueOfSoftuni.png" class="navbar-brand"-->
                 <!--style="width:19%; height:auto;"></a>-->
        <!--<div class="dropdown">-->
            <!--<button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown"><span-->
                    <!--class="glyphicon glyphicon-th-list"></span>-->
            <!--</button>-->
            <!--<ul class="dropdown-menu" role="menu" aria-labelledby="menu1">-->
                <!--<li role="presentation" class="active"><a href="#">Home</a></li>-->
                <!--<li role="presentation"><a href="gallery/galleryIndex.html">Gallery</a></li>-->
                <!--<li role="presentation"><a href="lore/loreIndex.html">Lore</a></li>-->
                <!--<li role="presentation"><a href="contact/contactIndex.html">Contact</a></li>-->
                <!--<li role="presentation"><a href="upload/uploadIndex.html">Upload</a></li>-->

                <!--<li role="presentation"><a role="menuitem" tabindex="-1" href="#" role="button" data-toggle="modal"-->
                                           <!--data-target="#login-modal"><span-->
                        <!--class="glyphicon glyphicon-user"></span> Sign Up</a></li>-->
                <!--<li role="presentation"><a role="menuitem" tabindex="-1" href="#" role="button" data-toggle="modal"-->
                                           <!--data-target="#login-modal"><span-->
                        <!--class="glyphicon glyphicon-user"></span> Login</a></li>-->
            <!--</ul>-->

        <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash;-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->

    </header>