<head th:fragment="head">

    <link th:href="@{/css/homeStyle.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/loginStyle.css}" rel="stylesheet" type="text/css"/>
</head>

<header class="navbar-right navbar-default navbar-fixed-top ">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="../homeIndex.html">
                <img src="../../static/img/LeagueOfSoftuni.png" class="navbar-brand"
                     style="position: fixed; width:19%; height:auto;"/></a>

        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a role="menuitem" tabindex="-1" href="../homeIndex.html">Home</a></li>
            <li><a role="menuitem" tabindex="-1" href="../gallery/galleryIndex.html">Gallery</a></li>
            <li><a role="menuitem" tabindex="-1" href="../lore/loreIndex.html">Lore</a></li>
            <li><a role="menuitem" tabindex="-1" href="../contact/contactIndex.html">Contact</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a role="menuitem" tabindex="-1" href="../upload/uploadIndex.html"><span class="glyphicon glyphicon-picture"></span> Upload</a></li>
            <!--<li>-->
                <!--<a role="menuitem" tabindex="-1" href="#" role="button" data-toggle="modal" data-target="#login-modal">-->
                <!--<span class="glyphicon glyphicon-user"></span> Sign Up</a>-->
            <!--</li>-->

            <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->

            <!--<li><a role="menuitem" tabindex="-1" href="#" role="button" data-toggle="modal" data-target="#login-modal"><span-->
                    <!--class="glyphicon glyphicon-user" ></span> Login</a></li>-->
        </ul>
    </div>


    <!-- Page responsive dropdown -->
    <div class="imageBokluk">
        <a href="../homeIndex.html">
            <img src="../../static/img/LeagueOfSoftuni.png" class="navbar-brand"
                 style="width:19%; height:auto;"/></a>
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown"><span
                    class="glyphicon glyphicon-th-list"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                <li role="presentation" class="active"><a href="#">Home</a></li>
                <li role="presentation"><a href="../gallery/galleryIndex.html">Gallery</a></li>
                <li role="presentation"><a href="../lore/loreIndex.html">Lore</a></li>
                <li role="presentation"><a href="../contact/contactIndex.html">Contact</a></li>
                <li role="presentation"><a href="../upload/uploadIndex.html">Upload</a></li>

                <li role="presentation"><a role="button" tabindex="-1" href="#" data-toggle="modal" data-target="#login-modal"><span
                        class="glyphicon glyphicon-user" ></span> Sign Up</a></li>
                <li role="presentation"><a  tabindex="-1" href="#" role="button" data-toggle="modal" data-target="#login-modal"><span
                        class="glyphicon glyphicon-user" ></span> Login</a></li>
            </ul>

        </div>
    </div>
</header>