<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>SoftUni League</title>
    <link rel="icon" href="http://i52.tinypic.com/r8tqo4.png">

    <link rel="stylesheet" href="../../templates/home/homeStyle.css">

</head>

<body>

<nav class="navbar-right navbar-default navbar-fixed-top ">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="../../homeIndex.html">
                <img src="../../images/LeagueOfSoftuni.png" class="navbar-brand"
                     style="position: fixed; width:19%; height:auto;"></a>

        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a role="menuitem" tabindex="-1" href="../../homeIndex.html">Home</a></li>
            <li><a role="menuitem" tabindex="-1" href="galleryIndex.html">Gallery</a></li>
            <li><a role="menuitem" tabindex="-1" href="#">Lore</a></li>
            <li><a role="menuitem" tabindex="-1" href="#">Contact</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <button href="#" class="btn btn-success navbar-btn"><span class="glyphicon glyphicon-picture"></span>
                    Upload
                </button>
            </li>
            <li><a role="menuitem" tabindex="-1" href="../../templates/user/register/register.html"><span
                    class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a role="menuitem" tabindex="-1" href="../../templates/user/login/login.html"><span
                    class="glyphicon glyphicon-log-in"></span> Login</a></li>

        </ul>
    </div>


    <!-- Page responsive dropdown -->
    <div class="imageBokluk">
        <a href="../../homeIndex.html">
            <img src="../../images/LeagueOfSoftuni.png" class="navbar-brand"
                 style="width:19%; height:auto;"></a>
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown"><span class="glyphicon glyphicon-th-list"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                <li role="presentation" class="active"><a href="#">Home</a></li>
                <li role="presentation"><a href="././galleryIndex.html">Gallery</a></li>
                <li role="presentation"><a href="#">Lore</a></li>
                <li role="presentation"><a href="#">Contact</a></li>
                <li role="presentation">
                    <button href="#" class="btn btn-success navbar-btn"><span
                            class="glyphicon glyphicon-picture"></span>
                        Upload
                    </button>
                </li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="../../templates/user/register/register.html"><span
                        class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="../../templates/user/login/login.html"><span
                        class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>

        </div>
    </div>
    <!--------------------------------------------------->

</nav>



</body>
</html>

