<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>SoftUni League</title>
    <link rel="icon" href="../static/img/L.jpg"/>

    <link rel="stylesheet" th:href="@{/css/homeStyle.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/loginStyle.css}" type="text/css"/>


</head>

<body>

<!-- BEGIN # MODAL LOGIN -->
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" align="center">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
            </div>

            <!-- Begin # DIV Form -->
            <div id="div-forms">

                <!-- Begin # Login Form -->
                <form class="login-form" th:action="@{/}" method="post">
                    <div class="modal-body">
                        <div id="div-login-msg">
                            <div id="icon-login-msg" class="glyphicon glyphicon-chevron-right"></div>
                            <span id="text-login-msg">Type your username and password.</span>
                        </div>
                        <input id="login_username" class="form-control" type="text" placeholder="Username" />
                        <input id="login_password" class="form-control" type="password" placeholder="Password" />
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"/> Remember me
                            </label>
                        </div>
                    </div>

                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    
                    <div class="modal-footer">
                        <div>
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
                        </div>
                        <div>
                            <button id="login_lost_btn" type="button" class="btn btn-link">Lost Password?</button>
                            <button id="login_register_btn" type="button" class="btn btn-link"></button>
                        </div>
                    </div>
                </form>
                <!-- End # Login Form -->

                <!-- Begin | Lost Password Form -->
                <form id="lost-form" style="display:none;">
                    <div class="modal-body">
                        <div id="div-lost-msg">
                            <div id="icon-lost-msg" class="glyphicon glyphicon-chevron-right"></div>
                            <span id="text-lost-msg">Type your e-mail.</span>
                        </div>
                        <input id="lost_email" class="form-control" type="text" placeholder="E-Mail (type ERROR for error effect)"/>
                    </div>
                    <div class="modal-footer">
                        <div>
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Send</button>
                        </div>
                        <div>
                            <button id="lost_login_btn" type="button" class="btn btn-link">Log In</button>
                            <button id="lost_register_btn" type="button" class="btn btn-link"></button>
                        </div>
                    </div>
                </form>
                <!-- End | Lost Password Form -->


            </div>
            <!-- End # DIV Form -->

        </div>
    </div>
</div>
<!-- END # MODAL LOGIN -->






<nav class="navbar-right navbar-default navbar-fixed-top ">
    <div class="container-fluid">
        <div class="navbar-header">
            <a th:href="@{/}">
                <img src="/img/LeagueOfSoftuni.png" class="navbar-brand"
                     style="position: fixed; width:19%; height:auto;"/></a>

        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a role="menuitem" tabindex="-1" th:href="@{/}">Home</a></li>
            <li><a role="menuitem" tabindex="-1" th:href="@{/gallery}">Gallery</a></li>
            <li><a role="menuitem" tabindex="-1" th:href="@{/lore}">Lore</a></li>
            <li><a role="menuitem" tabindex="-1" th:href="@{/contact}">Contact</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a role="menuitem" tabindex="-1" th:href="@{/upload}"><span class="glyphicon glyphicon-picture"></span> Upload</a></li>
            <li><a role="menuitem" tabindex="-1" th:href="@{/register}"><span
                    class="glyphicon glyphicon-user" ></span> Sign Up</a></li>
            <li><a role="menuitem" tabindex="-1" href="#"  data-toggle="modal" data-target="#login-modal"><span
                    class="glyphicon glyphicon-user" ></span> Login</a></li>
        </ul>
    </div>


    <!-- Page responsive dropdown -->
    <div class="imageBokluk">
        <a href="homeIndex.html">
            <img src="img/LeagueOfSoftuni.png" class="navbar-brand"
                 style="width:19%; height:auto;"/></a>
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown"><span
                    class="glyphicon glyphicon-th-list"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                <li role="presentation" class="active"><a href="#">Home</a></li>
                <li role="presentation"><a href="gallery/galleryIndex.html">Gallery</a></li>
                <li role="presentation"><a href="lore/loreIndex.html">Lore</a></li>
                <li role="presentation"><a href="contact/contactIndex.html">Contact</a></li>
                <li role="presentation"><a href="upload/uploadIndex.html">Upload</a></li>

                <li role="presentation"><a role="menuitem" tabindex="-1" href="#"  data-toggle="modal" data-target="#login-modal"><span
                        class="glyphicon glyphicon-user" ></span> Sign Up</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#"  data-toggle="modal" data-target="#login-modal"><span
                        class="glyphicon glyphicon-user" ></span> Login</a></li>
            </ul>

        </div>
    </div>


</nav>


<article>
    <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4500" id="bs-carousel">

        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#bs-carousel" data-slide-to="1"></li>
            <li data-target="#bs-carousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item slides active">
                <!-- Overlay -->
                <div class="overlay"></div>
                <div class="slide-1"></div>
                <div class="hero">
                    <hgroup>
                        <h1>League</h1>
                        <h3>of Software University</h3>
                    </hgroup>
                    <a th:href="@{/gallery}">
                        <button class="btn btn-hero btn-lg" role="button">Go to Gallery</button>
                    </a>
                </div>
            </div>
            <div class="item slides">
                <div class="slide-2"></div>
                <div class="hero">
                    <hgroup>
                        <h1>Lore</h1>
                        <h3>Explore our Lore</h3>
                    </hgroup>
                    <a th:href="@{/lore}">
                    <button class="btn btn-hero btn-lg" role="button">Go to Lore</button>
                    </a>
                </div>
            </div>
            <div class="item slides">
                <div class="slide-3"></div>
                <div class="hero">
                    <hgroup>
                        <h1>Upload</h1>
                        <h3>Post your picture</h3>
                    </hgroup>
                    <a th:href="@{/upload}">
                    <button class="btn btn-hero btn-lg" role="button">Upload</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</article>


</body>
</html>

