<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <title>SoftUni League</title>
    <link rel="icon" href="../../images/L.jpg">

    <link rel="stylesheet" href="contactStyle.css">
    <link rel="stylesheet" href="../user/login/loginStyle.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../home/bootstrap.js"></script>
    <script src="../user/login/login.js"></script>


</head>

<body>

<!-- BEGIN # MODAL LOGIN -->
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
     style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" align="center">
                <!--<img class="img-circle" id="img_logo" src="http://bootsnipp.com/img/logo.jpg">-->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
            </div>

            <!-- Begin # DIV Form -->
            <div id="div-forms">

                <!-- Begin # Login Form -->
                <form id="login-form">
                    <div class="modal-body">
                        <div id="div-login-msg">
                            <div id="icon-login-msg" class="glyphicon glyphicon-chevron-right"></div>
                            <span id="text-login-msg">Type your username and password.</span>
                        </div>
                        <input id="login_username" class="form-control" type="text"
                               placeholder="Username (type ERROR for error effect)" required>
                        <input id="login_password" class="form-control" type="password" placeholder="Password" required>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Remember me
                            </label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div>
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
                        </div>
                        <div>
                            <button id="login_lost_btn" type="button" class="btn btn-link">Lost Password?</button>
                            <button id="login_register_btn" type="button" class="btn btn-link">Register</button>
                        </div>
                    </div>
                </form>
                <!-- End # Login Form -->

                <!-- Begin | Lost Password Form -->
                <form id="lost-form" style="display:none;">
                    <div class="modal-body">
                        <div id="div-lost-msg">
                            <div id="icon-lost-msg" class="glyphicon glyphicon-chevron-right"></div>
                            <span id="text-lost-msg">Type your e-mail.</span>
                        </div>
                        <input id="lost_email" class="form-control" type="text"
                               placeholder="E-Mail (type ERROR for error effect)" required>
                    </div>
                    <div class="modal-footer">
                        <div>
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Send</button>
                        </div>
                        <div>
                            <button id="lost_login_btn" type="button" class="btn btn-link">Log In</button>
                            <button id="lost_register_btn" type="button" class="btn btn-link">Register</button>
                        </div>
                    </div>
                </form>
                <!-- End | Lost Password Form -->

                <!-- Begin | Register Form -->
                <form id="register-form" style="display:none;">
                    <div class="modal-body">
                        <div id="div-register-msg">
                            <div id="icon-register-msg" class="glyphicon glyphicon-chevron-right"></div>
                            <span id="text-register-msg">Register an account.</span>
                        </div>
                        <input id="register_username" class="form-control" type="text"
                               placeholder="Username (type ERROR for error effect)" required>
                        <input id="register_email" class="form-control" type="text" placeholder="E-Mail" required>
                        <input id="register_password" class="form-control" type="password" placeholder="Password"
                               required>
                        <input id="register_password" class="form-control" type="password"
                               placeholder="Confirm Password" required>
                    </div>
                    <div class="modal-footer">
                        <div>
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Register</button>
                        </div>
                        <div>
                            <button id="register_login_btn" type="button" class="btn btn-link">Log In</button>
                            <button id="register_lost_btn" type="button" class="btn btn-link">Lost Password?</button>
                        </div>
                    </div>
                </form>
                <!-- End | Register Form -->

            </div>
            <!-- End # DIV Form -->

        </div>
    </div>
</div>
<!-- END # MODAL LOGIN -->


<!--------------------------------------------------------------------------------------------------------------------------->

<nav class="navbar-right navbar-default navbar-fixed-top ">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="../homeIndex.html">
                <img src="../../images/LeagueOfSoftuni.png" class="navbar-brand"
                     style="position: fixed; width:19%; height:auto;"></a>

        </div>
        <ul class="nav navbar-nav">
            <li><a role="menuitem" tabindex="-1" href="../homeIndex.html">Home</a></li>
            <li><a role="menuitem" tabindex="-1" href="../gallery/galleryIndex.html">Gallery</a></li>
            <li><a role="menuitem" tabindex="-1" href="../lore/loreIndex.html">Lore</a></li>
            <li class="active"><a role="menuitem" tabindex="-1" href="contactIndex.html">Contact</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a role="menuitem" tabindex="-1" href="../upload/uploadIndex.html"><span
                    class="glyphicon glyphicon-picture"></span> Upload</a></li>
            <li><a role="menuitem" tabindex="-1" href="#" role="button" data-toggle="modal"
                   data-target="#login-modal"><span
                    class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a role="menuitem" tabindex="-1" href="#" role="button" data-toggle="modal"
                   data-target="#login-modal"><span
                    class="glyphicon glyphicon-user"></span> Login</a></li>
        </ul>
    </div>


    <!-- Page responsive dropdown -->
    <div class="imageBokluk">
        <a href="../homeIndex.html">
            <img src="../../images/LeagueOfSoftuni.png" class="navbar-brand"
                 style="width:19%; height:auto;"></a>
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown"><span
                    class="glyphicon glyphicon-th-list"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                <li role="presentation"><a href="../homeIndex.html">Home</a></li>
                <li role="presentation"><a href="../gallery/galleryIndex.html">Gallery</a></li>
                <li role="presentation"><a href="../lore/loreIndex.html">Lore</a></li>
                <li role="presentation" class="active"><a href="contactIndex.html">Contact</a></li>
                <li role="presentation">
                    <button class="btn btn-success navbar-btn"><span
                            class="glyphicon glyphicon-picture"></span>
                        <a href="../upload/uploadIndex.html">Upload</a>
                    </button>
                </li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="../user/register/register.html"><span
                        class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="../user/not used login/login.html"><span
                        class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>

        </div>
    </div>
    <!--------------------------------------------------->

</nav>

<img src="../../images/darkenOverlay1.png" alt="Overlay"
     style="width:2100px;height:60%; position: fixed; top:25%; z-index:-5; opacity: 0.4">

<div id="map" style="width: 47%; height: 70%; margin-left: 50%; margin-top:15%; box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
    transition: all 200ms ease-out; border: solid 1px rgba(56, 53, 53, 0.92);
    border-radius: 3px "></div>

<script>

    function initMap() {

        // Create a new StyledMapType object, passing it an array of styles,
        // and the name to be displayed on the map type control.
        var styledMapType = new google.maps.StyledMapType(
            [
                {
                    "featureType": "all",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#ffffff"
                        }
                    ]
                },
                {
                    "featureType": "all",
                    "elementType": "labels.text.stroke",
                    "stylers": [
                        {
                            "color": "#000000"
                        },
                        {
                            "lightness": 13
                        }
                    ]
                },
                {
                    "featureType": "administrative",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "color": "#000000"
                        }
                    ]
                },
                {
                    "featureType": "administrative",
                    "elementType": "geometry.stroke",
                    "stylers": [
                        {
                            "color": "#144b53"
                        },
                        {
                            "lightness": 14
                        },
                        {
                            "weight": 1.4
                        }
                    ]
                },
                {
                    "featureType": "landscape",
                    "elementType": "all",
                    "stylers": [
                        {
                            "color": "#08304b"
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#0c4152"
                        },
                        {
                            "lightness": 5
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "color": "#000000"
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "geometry.stroke",
                    "stylers": [
                        {
                            "color": "#0b434f"
                        },
                        {
                            "lightness": 25
                        }
                    ]
                },
                {
                    "featureType": "road.arterial",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "color": "#000000"
                        }
                    ]
                },
                {
                    "featureType": "road.arterial",
                    "elementType": "geometry.stroke",
                    "stylers": [
                        {
                            "color": "#0b3d51"
                        },
                        {
                            "lightness": 16
                        }
                    ]
                },
                {
                    "featureType": "road.local",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#000000"
                        }
                    ]
                },
                {
                    "featureType": "transit",
                    "elementType": "all",
                    "stylers": [
                        {
                            "color": "#146474"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "all",
                    "stylers": [
                        {
                            "color": "#021019"
                        }
                    ]
                }
            ],
            {name: 'Night Mode'});

        // Create a map object, and include the MapTypeId to add
        // to the map type control.
        var myOptions = {
            zoom: 12,
            center: new google.maps.LatLng(42.6666605, 23.35068350000006),
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        var map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 42.6666605, lng: 23.35068350000006},
            zoom: 12,
            mapTypeControlOptions: {
                mapTypeIds: ['roadmap', 'satellite', 'hybrid', 'terrain',
                    'styled_map']

            }

        });
        marker = new google.maps.Marker({
            map: map,
            position: new google.maps.LatLng(42.6666605, 23.35068350000006)
        });
        infowindow = new google.maps.InfoWindow({content: '<strong> Софтуерен университет (СофтУни)</strong><br>улица „Тинтява“ 15-17, етаж 1<br> Sofia<br>'});
        google.maps.event.addListener(marker, 'click', function () {
            infowindow.open(map, marker);
        });
        infowindow.open(map, marker);

        //Associate the styled map with the MapTypeId and set it to display.
        map.mapTypes.set('styled_map', styledMapType);
        map.setMapTypeId('styled_map');
    }


</script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyC17xb5NE_b6D7qGo6WGA7VEUldwMCX1Ms&callback=initMap"></script>

<div class="tekst">
    <strong><h3>Софтуерен университет (СофтУни)</h3></strong>
    <h4> улица „Тинтява“ 15-17, етаж 1</h4>
    <h4>Sofia</h4><br>
    <h4>Работно време:</h4>
    <h4>10:00 - 20:00 (Понеделник - Петък)</h4><br>

    <h4>Имейл:</h4>
    <h4>info@softuni.bg</h4>
</div>

<div class="tekst2">
    <h4>Телефон:</h4>
    <h4>+359 899 55 55 92</h4><br>
    <h4>Пощенски код:</h4>
    <h4> 1113</h4><br>
</div>


</body>
</html>

