<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>SoftUni League</title>
    <link rel="icon" href="http://i52.tinypic.com/r8tqo4.png">

    <link rel="stylesheet" href="home/homeStyle.css">
    <link rel="stylesheet" href="user/login2/login2Style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="home/bootstrap.js"></script>
    <script src="user/login2/login.js"></script>

    <!-- For login modal -->
    <script src="jquery-modal-master/jquery.modal.js" type="text/javascript" charset="utf-8"></script>

</head>

<body>

<!-- BEGIN # MODAL LOGIN -->
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" align="center">
                <!--<img class="img-circle" id="img_logo" src="http://bootsnipp.com/img/logo.jpg">-->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
            </div>

            <!-- Begin # DIV Form -->
            <div id="div-forms">

                <!-- Begin # Login Form -->
                <form id="login-form">
                    <div class="modal-body">
                        <div id="div-login-msg">
                            <div id="icon-login-msg" class="glyphicon glyphicon-chevron-right"></div>
                            <span id="text-login-msg">Type your username and password.</span>
                        </div>
                        <input id="login_username" class="form-control" type="text" placeholder="Username (type ERROR for error effect)" required>
                        <input id="login_password" class="form-control" type="password" placeholder="Password" required>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Remember me
                            </label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div>
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
                        </div>
                        <div>
                            <button id="login_lost_btn" type="button" class="btn btn-link">Lost Password?</button>
                            <button id="login_register_btn" type="button" class="btn btn-link">Register</button>
                        </div>
                    </div>
                </form>
                <!-- End # Login Form -->

                <!-- Begin | Lost Password Form -->
                <form id="lost-form" style="display:none;">
                    <div class="modal-body">
                        <div id="div-lost-msg">
                            <div id="icon-lost-msg" class="glyphicon glyphicon-chevron-right"></div>
                            <span id="text-lost-msg">Type your e-mail.</span>
                        </div>
                        <input id="lost_email" class="form-control" type="text" placeholder="E-Mail (type ERROR for error effect)" required>
                    </div>
                    <div class="modal-footer">
                        <div>
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Send</button>
                        </div>
                        <div>
                            <button id="lost_login_btn" type="button" class="btn btn-link">Log In</button>
                            <button id="lost_register_btn" type="button" class="btn btn-link">Register</button>
                        </div>
                    </div>
                </form>
                <!-- End | Lost Password Form -->

                <!-- Begin | Register Form -->
                <form id="register-form" style="display:none;">
                    <div class="modal-body">
                        <div id="div-register-msg">
                            <div id="icon-register-msg" class="glyphicon glyphicon-chevron-right"></div>
                            <span id="text-register-msg">Register an account.</span>
                        </div>
                        <input id="register_username" class="form-control" type="text" placeholder="Username (type ERROR for error effect)" required>
                        <input id="register_email" class="form-control" type="text" placeholder="E-Mail" required>
                        <input id="register_password" class="form-control" type="password" placeholder="Password" required>
                        <input id="register_password" class="form-control" type="password" placeholder="Confirm Password" required>
                    </div>
                    <div class="modal-footer">
                        <div>
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Register</button>
                        </div>
                        <div>
                            <button id="register_login_btn" type="button" class="btn btn-link">Log In</button>
                            <button id="register_lost_btn" type="button" class="btn btn-link">Lost Password?</button>
                        </div>
                    </div>
                </form>
                <!-- End | Register Form -->

            </div>
            <!-- End # DIV Form -->

        </div>
    </div>
</div>
<!-- END # MODAL LOGIN -->




<!--------------------------------------------------------------------------------------------------------------------------->

<nav class="navbar-right navbar-default navbar-fixed-top ">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="homeIndex.html">
                <img src="../images/LeagueOfSoftuni.png" class="navbar-brand"
                     style="position: fixed; width:19%; height:auto;"></a>

        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a role="menuitem" tabindex="-1" href="#">Home</a></li>
            <li><a role="menuitem" tabindex="-1" href="gallery/galleryIndex.html">Gallery</a></li>
            <li><a role="menuitem" tabindex="-1" href="#">Lore</a></li>
            <li><a role="menuitem" tabindex="-1" href="#">Contact</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <button href="#" class="btn btn-success navbar-btn"><span class="glyphicon glyphicon-picture"></span>
                    Upload
                </button>
            </li>
            <li><a role="menuitem" tabindex="-1" href="#"><span
                    class="glyphicon glyphicon-user" role="button" data-toggle="modal" data-target="#login-modal"></span> Sign Up</a></li>
            <li><a role="menuitem" tabindex="-1" href="#"><span
                    class="glyphicon glyphicon-log-in" role="button" data-toggle="modal" data-target="#login-modal"></span> Login</a></li>
        </ul>
    </div>


    <!-- Page responsive dropdown -->
    <div class="imageBokluk">
        <a href="homeIndex.html">
            <img src="../images/LeagueOfSoftuni.png" class="navbar-brand"
                 style="width:19%; height:auto;"></a>
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown"><span
                    class="glyphicon glyphicon-th-list"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                <li role="presentation" class="active"><a href="#">Home</a></li>
                <li role="presentation"><a href="gallery/galleryIndex.html">Gallery</a></li>
                <li role="presentation"><a href="#">Contact</a></li>
                <li role="presentation">
                    <button href="#" class="btn btn-success navbar-btn"><span
                            class="glyphicon glyphicon-picture"></span>
                        Upload
                    </button>
                </li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="user/register/register.html"><span
                        class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="user/login/login.html"><span
                        class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>

        </div>
    </div>
    <!--------------------------------------------------->



</nav>



<article>
    <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4500" id="bs-carousel">

        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#bs-carousel" data-slide-to="1"></li>
            <li data-target="#bs-carousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item slides active">
                <!-- Overlay -->
                <div class="overlay"></div>
                <div class="slide-1"></div>
                <div class="hero">
                    <hgroup>
                        <h1>League</h1>
                        <h3>of Software University</h3>
                    </hgroup>
                    <a href="gallery/galleryIndex.html">
                        <button class="btn btn-hero btn-lg" role="button">Go to Gallery</button>
                    </a>
                </div>
            </div>
            <div class="item slides">
                <div class="slide-2"></div>
                <div class="hero">
                    <hgroup>
                        <h1>Lore</h1>
                        <h3>Explore our Lore</h3>
                    </hgroup>
                    <button class="btn btn-hero btn-lg" role="button">Go to Lore</button>
                </div>
            </div>
            <div class="item slides">
                <div class="slide-3"></div>
                <div class="hero">
                    <hgroup>
                        <h1>Upload</h1>
                        <h3>Post your picture</h3>
                    </hgroup>
                    <button class="btn btn-hero btn-lg" role="button">Upload</button>
                </div>
            </div>
        </div>
    </div>
</article>


</body>
</html>

